/*---dark mode start (default)---*/

    .bg-footer {
        background-color: #1e1e1f;
    }

    footer {
        max-width: 1500px;
        margin: 0 auto;
        color: #E2E2E2;
        text-align: center;
        padding: 20px;
        display: grid;
        gap: 40px;
    }

    footer h1 {
        font-size: 3rem;
        color: #E2E2E2;
    }

    footer section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px 100px;
        align-items: center;
    }