* {
    margin:0;
    padding:0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family:'Fira Sans', Arial, sans-serif;
    color: #141414;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}