/*---dark mode start (default)---*/

    .bg-header {
        background-color: #1e1e1f;
        position: relative;
        width: 100%;
        height: 62px;
    }

    .header {
        background-color: #1e1e1f;
        max-width: 1500px;
        display: flex;
        justify-content: space-between;
        place-items: center;
        text-align: center;
        width: 100%;
        top:0;
        color: #fff;
        left:50%;
        transform: translateX(-50%);
        position: fixed;
        z-index: 999;
    }

    .header ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
    }

    .header ul li {
        cursor: pointer;
        font-size: 1.2rem;
        text-align: center;
        transition: 0.5s color;
    }

    .header ul li a {
        padding: 20px;
        display: block;
        color: #fff;
        transition: 0.5s color;
    }

    .header ul li a:hover {
        color: #ed3238;
    }

/*---dark mode end (default)---*/

/*---light mode start---*/

    .bg-header.light {
        background-color: #E2E2E2;
    }

    .bg-header.light .header {
        background-color: #E2E2E2;
        color: #1e1e1f;
    }